/* CONFIGURAÇẼOS INCIAIS */
@import url('https://googleapis.com');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #333333;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* TIPOS DE BOTÃO */

.botao-topbar {
    background-color: #268bdd;
    padding: 0.6rem 1.5rem;
    border-radius: 20px;
    color: white;
}

.botao-home {
    background-color: #008fd3;
    text-align: center;
    margin-top: 1.2rem;
    margin-bottom: 5rem;
    padding: 1rem 3rem;
    border-radius: 20px;
    color: white;
}

.botao {
    background-color: #8cbad9;
    padding: 0.6rem 1.5rem;
    border-radius: 0.5rem;
    color: white;
}

.botao-info {
    background-color: #008fd3;
    text-align: center;
    padding: 1rem 4rem;
    border-radius: 5px;
    color: white;
}

.botao.tipo2 {
    background-color: #008fd3;
    padding: 0.6rem 7rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5rem;
}

.botao.tipo3 {
    background-color: #8cbad9;
    padding: 0.6rem 3rem;
    text-align: center;
    margin-top: 20px;
}

.botao_card {
    background-color: #008fd3;
    padding: 0.6rem 1.5rem;
    text-align: center;
    margin-top: 20px;
    color: white;
    border-radius: 0.3rem;
}

/* CABECALHO DO SITE  */

.topbar {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.navegador {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.cabecalho-topbar {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    max-width: 1200px;
}

.logo {
    display: flex;
    justify-content: flex-start;
}


/* INICIO DO CORPO DO SITE */

/* SESSÃO HOME */
.sessao-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3%;
}

.imagem {
    width: 40rem;
    height: 35rem;
}

.box-texto-home {
    padding-left: 10em;
}

.titulo-home {
    color: #0090D0;
    font-size: 20px;
    max-width: 40em;
}

.subtitulo-home {
    margin-top: 10px;
    color: #000000;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    max-width: 13em;
}

.texto-home {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    margin-top: 10px;
    max-width: 28em;
}



/* SESSÃO BENEFICIOS */
.sessao-beneficios {
    padding: 60px 0;
}

.botao_body {
    background-color: #150958;
    color: white;
    padding: 1rem 5rem;
    text-align: center;
    border-radius: 0.5rem;
    margin-left: -66rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.subtitulo_main {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    font-weight: lighter;
    margin-bottom: 5%;
}

/* CARTÕES - BENEFICIOS */
.main_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
    gap: 20px;
}

.card {
    background-color: #f5f8fa;
    border-radius: 10px;
    padding: 30px 20px;
    width: 30%;
    text-align: center;
}

.card-linha2 {
    width: 30%
}

.imagem_card {
    height: 50px;
    margin-bottom: 15px;
}

.card-titulo {
    font-size: 1.1rem;
    font-weight: bolder;
    margin-bottom: 15px;
    color: black;
}

.texto {
    font-size: 0.9rem;
    font-weight: lighter;
}


/* TECNOLOGIA E INTELIGÊNCIA (parte escura) */

.sessao-tecnologia {
    display: flex;
    flex-direction: column;
    background-color: #150958;
    color: white;
    padding: 80px;
}
.borda {
    border-left: 2px solid rgb(0, 255, 255);
    margin-left: 50px;
}
.alinhar-borda {
    padding: 30px;
}

.titulo-fundo {
    padding-bottom: 2rem;
    font-weight: lighter;
    font-size: 2.3rem;
    margin-left: 80px;
}

.fundo-lista {
    display: flex;
    flex-direction: column;
    font-size: 1.10rem;
    max-width: 100em;
    padding-right: 50px;
}
li {
    list-style: none;
    padding: 20px 0px;
}
.fundo-imagem {
    display: flex;
    margin-right: 50px;
}
.imagem-medica {
    max-height: 120%;
    max-width: 110%;
}


/* SESSAO BANNER */
.subtitulo_footer {
    font-size: 1.4rem;
    font-weight: bolder;
    text-align: center;
}

.subtitulo_body {
    font-size: 2.5rem;
    justify-content: center;
    font-weight: lighter;
}

.painel {
    display: flex;
    flex-direction: row;
    background-color: #EFF5F8;
}

.subtitulo_fundo {
    text-align: left;
    font-size: 2.5rem;
    margin-left: 20rem;
    margin-top: 1rem;
    font-family: 'Montserrat', sans-serif;
}


.texto_fundo {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 1.2rem;
    margin-top: 10px;
    width: 40rem;
    margin-right: -10rem;
}




.footer_card {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    gap: 1rem;
    margin: 1rem 0;
}

.container_body {
    background-color: #0090D0;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

.sessao-banner {
    display: flex;
    margin: 0;
    background-color: #008fd3;
    padding: 40px;
}

.banner-container {
    margin: 0;
}

.imagem-banner {
    width: 80%;
}

.fundo {
    background-color: #150958;
    color: white;
    margin-left: -5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    text-align: center;
}

.fundo_subtitulo {
    margin-left: 20rem;
}

.fundo_body {
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 1rem;
    text-align: left;
    margin: 0 20rem;
    border-left: 2px solid #00e1ff;
    padding-left: 1.5rem;
}

.botao.tipo3 {
    background-color: #150958;
    padding: 0.6rem 5rem;
    text-align: center;
    margin-top: 20px;
}

.imagem_fundo {
    margin-right: 10rem;
}

.fundo,
.pre_footer,
.footer {
    padding: 2rem;
    text-align: center;
}

.container_botao {
    text-align: center;
    margin: 1rem 10rem;
    display: flex;
    justify-content: flex-start;
}

.container_card {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.footer {
    background-color: #4CB1DE;
    padding: 4rem;
    text-align: left;
}

.footer_texto {
    display: flex;
    justify-content: space-evenly;
}