@import url('https://googleapis.com');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #333333;
}

a {
    text-decoration: none;
    color: black;
}

.cabecalho {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    background-color: #008fd3;
    padding: 1rem 2rem;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
}

.navegador {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}


.botao_home {
    background-color: #26c2dd;
    padding: 0.6rem 1.5rem;
    border-radius: 1rem;
    color: white;
}

.botao_home.tipo2 {
    background-color: #008fd3;
    text-align: center;
    margin-top: 1.2rem;
    margin-bottom: 5rem;
}

.botao {
    background-color: #8cbad9;
    padding: 0.6rem 1.5rem;
    border-radius: 0.5rem;
    color: white;
}

.botao.tipo1 {
    background-color: #365cd8;
    border-radius: 0.5rem;
    margin-top: 15px;
    width: 10rem;
}

.botao.tipo2 {
    background-color: #008fd3;
    padding: 0.6rem 7rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5rem;
}

.botao.tipo3 {
    background-color: #8cbad9;
    padding: 0.6rem 3rem;
    text-align: center;
    margin-top: 20px;
}
.botao_card{
    background-color: #008fd3;
    padding: 0.6rem 1.5rem;
    text-align: center;
    margin-top: 20px;
    color: white;
    border-radius: 0.3rem;
}

.painel {
    display: flex;
    flex-direction: row;
    background-color: #EFF5F8;
}

.imagem {
    width: 48rem;
    max-width: 50rem;
    height: 40rem;
}

.titulo {
    color: #0090D0;
    font-size: 24px;
}

.titulo_body {
    color: #ffffff;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    padding-left: 12.5rem;
    margin: 5rem;
}

.botao_body {
    background-color: #150958;
    color: white;
    padding: 1rem 5rem;
    text-align: center;
    border-radius: 0.5rem;
    margin-left: -66rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.subtitulo {
    font-size: 1.4rem;
    margin-top: 0.7rem;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: bolder;
}
.subtitulo_footer {
    font-size: 1.4rem;
    margin-top: 0.7rem;
    margin-bottom: 20px;
    font-weight: bolder;
    text-align: center;
}

.subtitulo_body {
    font-size: 2.5rem;
    margin-top: 1rem;
    justify-content: center;
    margin-bottom: 3rem;
    font-weight: lighter;
}

.subtitulo_main {
    font-size: 2.5rem;
    margin-top: 3rem;
    margin-left: 20rem;
    justify-content: center;
    margin-bottom: 3rem;
    font-weight: lighter;
    text-align: left;
}

.subtitulo_fundo {
    text-align: left;
    font-size: 2.5rem;
    margin-left: 20rem;
    margin-top: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.texto {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 1.2rem;
    margin-top: 10px;
}

.texto_fundo {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 1.2rem;
    margin-top: 10px;
    width: 40rem;
    margin-right: -10rem;
}

.texto_body {
    margin-left: 23.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.caixa_texto {
    display: flex;
    flex-direction: column;
    margin: 0rem 22rem;
    justify-content: center;
    align-items: flex-start;
}

.main_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    margin: 0 15rem;
}

.imagem_card {
    width: 100px;
}

.card {
    width: 25rem;
    min-width: 20rem;
    background-color: #EFF5F8;
    padding: 3rem 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0.5rem;
}

.footer_card {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    gap: 1rem;
    margin: 1rem 0;
}

.container_body {
    background-color: #0090D0;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

.imagem_seta {
    display: flex;
}

.fundo {
    background-color: #150958;
    color: white;
    margin-left: -5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    text-align: center;
}

.fundo_subtitulo {
    margin-left: 20rem;
}

.fundo_body {
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 1rem;
    text-align: left;
    margin: 0 20rem;
    border-left: 2px solid #00e1ff;
    padding-left: 1.5rem;
}

.botao.tipo3 {
    background-color: #150958;
    padding: 0.6rem 5rem;
    text-align: center;
    margin-top: 20px;
}

.imagem_fundo {
    margin-right: 10rem;
}

.fundo,
.pre_footer,
.footer {
    padding: 2rem;
    text-align: center;
}

.container_botao {
    text-align: center;
    margin: 1rem 10rem;
    display: flex;
    justify-content: flex-start;
}

.container_card {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.footer {
    background-color: #4CB1DE;
    padding: 4rem;
    text-align: left;
}

.footer_texto {
    display: flex;
    justify-content: space-evenly;
}